/* Variables  */
:root {
  --header-color: white;
  --primary-color: lightgreen;
  --first-color: #30009c;
  --second-color: #00c4b4;
  --third-color: #b00020;
  --fourth-color: #ffde03;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Start Landing Page  */
.landing-page {
  min-height: 100vh;
  background-image: url("../images/bg4.jpg");
  background-size: cover;
  position: relative;
}

.landing-page .header {
  display: flex;
  justify-content: space-around;

  padding-top: 10px;
}

.landing-page .header .logo {
  padding-top: 13px;
  font-weight: bold;
  color: var(--header-color);
}
.landing-page .header .logo a {
  text-decoration: none;
  color: white;
}

.landing-page .header ul {
  list-style: none;
  text-align: right;
}
.landing-page .header ul li {
  display: inline;
  padding: 5px;
  margin: 5px;
}
.landing-page .header ul a {
  color: var(--header-color);
  text-decoration: none;
  transition: 0.4s;
}
.landing-page .header ul a:hover,
.landing-page .header ul a.active {
  color: var(--primary-color);
}

.landing-page .welcome-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--header-color);
}
.landing-page .welcome-text span {
  color: var(--primary-color);
}
/* End Landing Page  */

/* Start Settings  */
.settings {
  min-height: 100vh;
  width: 200px;
  z-index: 10;
  position: fixed;
  left: -200px;
  top: 0;
  background-color: white;
  transition: 0.4s;
}

.settings.opened {
  left: 0;
}
.settings img {
  font-size: 50px;
  position: absolute;
  top: 10%;
  z-index: 10;
  color: white;
  width: 30px;
  background: transparent;
  right: -30px;
  cursor: pointer;
}
.settings .options .colors {
  text-align: center;
  background-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 10px;
}
.settings .options .colors li {
  list-style: none;
  width: 28px;
  height: 24px;
  border-radius: 51%;
  display: inline-block;
  cursor: pointer;
}
.settings .options .colors li.active {
  border: 2px solid black;
}
.settings .options .colors :nth-child(2) {
  background-color: var(--first-color);
}
.settings .options .colors :nth-child(3) {
  background-color: var(--second-color);
}
.settings .options .colors :nth-child(4) {
  background-color: var(--third-color);
}
.settings .options .colors :nth-child(5) {
  background-color: var(--fourth-color);
}
.random-bg {
  text-align: center;
  background-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 10px;
}
.random-bg div {
  background-color: #b00020;
  font-weight: 200;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
}
/* End Settings  */
